body {
    background-color: #f8f9fa;
    background-image: url('https://img.freepik.com/fotos-gratis/fundo-texturizado-abstrato_1258-30473.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    margin: 10px;
    transition: transform 0.2s;
    width: 250px;
}

.card:hover {
    transform: scale(1.05);
}

.btn-primary {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
}

.form-card {
    max-width: 300px;
}

#eventsList .card {
    min-width: 250px;
    max-width: 250px;
    padding: 10px;
    margin-bottom: 20px;
}

.fa1 {
    font-size: 3em;
}

#whatsapp-fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

#whatsapp-fixed .btn {
    font-size: 18px;
    display: flex;
    align-items: center;
}

#whatsapp-fixed .btn .fab {
    margin-right: 8px;
}
/* ----------------COR DO CARD MUADA PARA VERMELHO QUANDO O EVENTO PASSA */
.event-card {
    border: 2px solid green; /* Bordas verdes para eventos que ainda não passaram */
}

.event-card-passed {
    border: 2px solid red; /* Bordas vermelhas para eventos que já passaram */
    opacity: 0.7; /* Reduz a opacidade para eventos passados */
}

#whatsapp-fixed .btn {
    font-size: 16px; /* Reduzi a fonte para melhorar a legibilidade */
    display: flex;
    align-items: center;
    padding: 10px 15px; /* Aumentei o padding para melhorar o clique em dispositivos móveis */
}

@media (max-width: 576px) {
    #whatsapp-fixed {
        bottom: 10px; /* Reduzi a distância do fundo em telas menores */
        right: 10px; /* Reduzi a distância da direita em telas menores */
    }

    #whatsapp-fixed .btn {
        font-size: 14px; /* Ajustei ainda mais a fonte para telas menores */
        padding: 8px 12px; /* Ajustei o padding para telas menores */
    }
}

body {
    background-color: #f8f9fa;
    background-image: url('https://img.freepik.com/fotos-gratis/fundo-texturizado-abstrato_1258-30473.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
